<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
</head>
<body>

<p>In this example, we remove the bullets from the list, and its default padding and margin.</p>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<form action="/accounts/register" method="post">
  {% csrf_token %}
  <input type="text" name="First_name" placeholder="First_name"><br>
  <input type="text" name="Last_name" placeholder="last_name"><br>
  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password1" placeholder="password"><br>
  <input type="password" name="password2" placeholder="Confirm-password"><br>
  <input type="submit">
</form>
</body>
</html>
